<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
		<string>local.dorkasaurus.kjolley.getwinetemp</string>
	<key>Program</key>
		<string>/Users/kjolley/bin/getwinetemp</string>
	<key>StartInterval</key>
		<integer>60</integer>
	<key>StandardOutPath</key>
		<string>/tmp/rrdtoollaunchd.stdout</string>
	<key>StandardErrorPath</key>
		<string>/tmp/rrdtoollaunchd.stderr</string>
	<key>LowPriorityIO</key>
		<true/>
</dict>
</plist>
